<div class="flex text-center justify-center">
    <table class="table-auto border-separate border-spacing-2 border border-slate-400">
        <thead>
            <tr>
                <th class="border border-slate-300">ID</th>
                <th class="border border-slate-300">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td class="border border-slate-200 px-4 py-2">{{user._id}}</td>
                <td class="border border-slate-200 px-4 py-2">{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>